.edit-div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-div {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: scroll;

  row-gap: 10px;
}

.collapse {
  display: flex;
  flex-direction: column;
}
