.visBody {
  all: initial;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.visRoot {
  all: initial;
  max-width: initial !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: initial !important;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #e0e0e0;
  display: flex;
  padding: 0px;
}

button {
  width: fit-content;
  white-space: nowrap;
  padding: 10px;
}

.ant-tabs {
  height: 100%;
}
.ant-tabs-tabpane-active {
  height: 100%;
}
.ant-tabs-content-holder {
  display: flex;
}

.fillSpace {
  width: 100%;
  height: 100%;
}

.atlasMenuDiv {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 1vh;
  right: 1vh;
}

.buttonContainer {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.expressionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.appContainer {
  margin-top: 1%;
  height: 95%;
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.downloadButton {
  position: absolute;
  right: 1vh;
  top: 1vh;
}

.infoDiv {
  height: 70vh;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

div {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}
