.linkHovered {
  opacity: 1;
  stroke: green;
  stroke-width: 2.5;
}

.linkSelected {
  opacity: 1;
  stroke-width: 2.5;
}

.linkNotSelected {
  opacity: 0.1;
}

.linkNotHovered {
  opacity: 0.1;
}

.roiHovered {
  fill: green;
  font-weight: 800;
}

.roiSelected {
  font-weight: 800;
}

.valueText {
  font-size: 10px;
}

.label {
  cursor: default;
}

div {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
