:root {
  --primary-color: #7bb2ff;
  --warning-color: #f5dd07;
  --axis-color: #333;
  --background-color: #fff;
  --axis-font-size: large;
}

.fullScreenLayout {
  min-height: 100vh;
  width: 100vw;
  background: #f0f2f5;
  overflow: auto;
}

.bar {
  padding: 16px 20px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  max-height: 100px;
  overflow: hidden;
}

.title {
  position: absolute;
  left: 20px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 800;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 4px 10px;
  border-radius: 8px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  letter-spacing: 3px;
}

.title:hover {
  transform: scale(1.05);
}

.chartTitle {
  font-size: 16px;
  font-weight: bold;
  fill: var(--axis-color);
}

.panelBox {
  border: 3px solid white;
  border-radius: 8px;
  padding: 16px 20px;
  display: flex;
  gap: 8px;
  min-width: 400px;
  align-items: center;
}

.panelBoxEvolution {
  border: 3px solid white;
  border-radius: 8px;
  padding: 16px 20px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.popoverMenu {
  min-width: 400px;
  max-width: 400px;
  padding: 20px;
}
