.viewContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.correlationContainer {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.editorContainer {
  margin: 0;
  margin-top: 0vh;
  padding: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.verticalLegendContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chartContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.chartAxis {
  font-size: large;
}

.chartLegendContainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.legend {
  width: 15%;
  height: 100%;
  display: flex;
  overflow: auto;
  font-size: large;
}

.legendSvg {
  display: block;
  overflow: visible;
}

.distributionChart {
  width: 85%;
  height: 100%;
}

.chartSvg {
  display: block;
  width: 100%;
  height: 100%;
}

.pwSvg {
  overflow: visible;
  display: block;
}

.chartSvg text {
  font-size: var(--axis-font-size);
}

.pwSvg text {
  font-size: var(--axis-font-size);
}

.axis path,
.axis line {
  stroke: var(--axis-color);
  stroke-width: 1;
}

.axis text {
  font-size: var(--axis-font-size);
}

.zeroLine {
  stroke: var(--axis-color);
  stroke-dasharray: 4 2;
}

.ciLine {
  stroke: black;
  stroke-width: 2;
}

.effectBar {
  stroke: var(--axis-color);
  stroke-width: 1.5;
}

.cap {
  stroke: #333;
  stroke-width: 1.5px;
}

.effectPoint {
  fill: black;
}

.hierarchyTooltip {
  position: absolute;
  background-color: white;
  display: flex;
  gap: 5px;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 1rem;
}

.nodeInfo {
  position: absolute;
  top: 60px;
  right: 10px;
  color: var(--primary-color);
  max-height: 90%;
  border: 1px solid #ccc;
  overflow: scroll;
  background-color: white;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.emptyState {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
