.selectedNode {
  fill: orange;
  stroke: #000;
}

.overviewLayout {
  position: relative;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 10px;
  height: 91vh;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.appLayout {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 95vh;
  width: 100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  text-align: left; /* Esto no es necesario para el centrado */
  justify-content: center;
  align-items: center;
}

.hierLayout {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  text-align: left; /* Esto no es necesario para el centrado */
  justify-content: center;
  align-items: center;
}

.fill {
  width: 100%;
  height: 100%;
}

.hiddenDot {
  r: 1px;
  fill: #000;
  fill-opacity: 1;
}

button {
  width: fit-content;
  white-space: nowrap;
  padding: 10px;
}

.scenario-results-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #eaeaea;
}

.ant-tabs {
  height: 100%;
}
.ant-tabs-tabpane-active {
  height: 100%;
}

.containerDiv {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  background: #f5f5f5;
  border-radius: 5px;
  padding: 0px;
  justify-content: center;
}

.atlasMenuDiv {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 1vh;
  right: 1vh;
}

.buttonContainer {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.expressionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.appContainer {
  margin-top: 1vh;
  height: 98%;
  aspect-ratio: 1;
  border-radius: 5px;
  border: 2px solid rgb(223, 223, 223);
}

.downloadButton {
  position: absolute;
  right: 1vw;
  bottom: 1vh;
}

.infoDiv {
  height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 7vh;
  overflow: scroll;
  background: white;
}

div {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.cantabContainer {
  width: 90vw;
}

.cantabAppLayout {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: auto;
  box-sizing: border-box;
}

.navio {
  text-align: initial;
  background-color: white;
}

.centerOverviewLayout {
  display: flex;
  position: relative;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 10px;
  height: 86vh;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  text-align: left;
  justify-content: center;
  align-items: center;
}

.correlationAppLayout {
  display: flex;
  flex-direction: row;
}

.editorLayout {
  margin: 0;
  margin-top: 0vh;
  padding: 0;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewContainer {
  position: relative;
  width: 100%;
  margin: 0;
  height: 50%;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.correlationVariables {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.correlationSVG {
  overflow: visible;
  position: relative;
  height: 100%;
  width: 70%;
}

.correlationLegendSVG {
  overflow: visible;
  position: relative;
  width: 60%;
}

.editorTooltip {
  position: absolute;
  background-color: white;
  display: none;
  gap: 5px;
  flex-direction: column;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-style: solid;
  padding: 0.5rem;
}

.myHistogramTooltip {
  position: absolute;
  background-color: white;
  width: fit-content;
  display: none;
  gap: 5px;
  flex-direction: column;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-style: solid;
  padding: 0.5rem;
  z-index: 90;
}

.hierMenuButton {
  width: 100%;
}

.custom .ant-collapse-content-box {
  padding: 0px !important;
}

.matrixIndex {
  text-anchor: start;
}

.contexMenuTooltip {
  position: fixed;
  pointer-events: auto; /* Permite que los clics lleguen al tooltip */
  z-index: 999;
  text-align: left;
  white-space: normal;
  padding: 4px;
  font-size: 18px;
  border: 1px solid #000000;
  background-color: white;
  border-radius: 5px;
}

.tooltip {
  position: fixed;
  padding: 5px;
  font-size: 18px;
  background: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 100;
}

/* Heredan de la clase base */
.infoTooltip {
  flex-direction: row;
  white-space: nowrap;
}

.descTooltip {
  max-width: 30vw;
}

.custom-area {
  resize: none;
  width: 100%;
  height: auto;
  min-height: 1rem;
  max-height: 5rem;

  font-size: 1.1rem;

  border: 1px gray solid;
  border-radius: 12px;

  background-color: white;
  font-family: "Inconsolata", monospace;

  padding: 12px;
}

.custom-area:focus {
  border: 2px black solid;
  outline: none;
}

.custom-area.error {
  border: 0px;
  outline: 1px #dc2626 solid;
}

.sortableContainer {
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sortableContainer * {
  direction: ltr;
}

.progressContainer {
  position: relative;
  color: white;
  font-size: 12px;
  text-align: left;
  font-weight: 600;
  background-color: #e9ecef;
  border: solid 1px;
  border-radius: 8px;
  overflow: hidden;
}

.legendDiv {
  height: "100%";
  width: "15%";
  overflow: "hidden scroll";
  position: "relative";
}

.progressBar {
  padding: 1px 14px;
  z-index: 0;
  top: 0;
  width: 1%;
  height: 100%;
  overflow: hidden;
  background-color: #007bff;
  white-space: nowrap;
  user-select: none;
  cursor: wait;
}

.btn-custom-antd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 100%;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #1677ff;
  background-color: #1677ff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-custom-antd:hover {
  background-color: #4096ff;
  border-color: #4096ff;
}
