#evolution-ranking .bar.selected {
  stroke: black;
  stroke-width: 2px;
  opacity: 1;
}

#evolution-ranking .bar {
  opacity: 0.5;
}

#evolution-ranking .tick {
  font-size: 18px;
}

#evolution-lines .tick {
  font-size: 18px;
}

#evolution-lines .legend {
  font-size: 18px;
}

.cross {
  text-decoration: line-through;
}

#evolution-lines .not_show {
  display: none;
}

.yAxisLabel {
  font-size: 18px;
}

#evolution-lines .populationVariable {
  font-size: 18px;
}

.highlight {
  opacity: 1 !important;
  display: block !important;
}

.hide {
  display: none;
}

.blur {
  opacity: 0.2;
}

.tmp-blur {
  opacity: 0.2;
}

.tmp-noblur {
  opacity: 1;
}

.hide {
  display: none;
}

.selected {
  display: block;
  opacity: 1;
  stroke: #000;
  stroke-width: 2.5;
}

.circleSelected {
  stroke-width: 3;
  stroke: black;
  opacity: 1;
}
