.selected {
  stroke: black;
  stroke-width: 1px;
  opacity: 1;
}

.selectedNode {
  stroke: black;
  stroke-width: 1px;
  opacity: 1;
  z-index: 0;
}

.hovered {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.tick {
  cursor: default;
}

.tick text {
  stroke-width: 0;
  cursor: default;
}

.ant-modal-wrap {
  overflow: hidden !important;
}

.ant-slider-rail {
  background-color: #1677ff !important;
}

.ant-slider-track {
  background-color: lightgrey !important;
}
